{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <style>

    </style>

    <nav class="navbar navbar-light">
        <span id="brandTitle" class="navbar-brand mb-0 h1">Komplete</span>
    </nav>

    <div class="container-fluid">
    <div class="row">
    <div id="listContainer" class="col">
        <a href="{{ path('dashboard') }}"><h6>Mes listes</h6></a>
        <ul>
            {% for liste in listesMenu %}
                <ul>
                    <input type="checkbox" class="listName" name="listName">
                    <a href="{{ path('dashboard_list', { 'listName': liste.listName } ) }}">
                        <label for="listName">{{ liste.listName }}</label>
                    </a>
                </ul>
            {% endfor %}
            <hr>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><img
                        class="listIcon" src="/Pictures/circle-plus-solid.svg"/> Créer une liste
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Créer une liste</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input id="createList" type="text" class="form-control"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="saveCreateList" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>


    <div class="col-10">
        <h2>Mes listes</h2>
        {% for liste in listes %}
            <div id="taskContainer1">
                <h4>{{ liste.listName }}</h4>
                <br>
                <div>
                    <ul id="myList">
                        {% for tache in liste.tache %}
                            <ul>
                                <input type="checkbox" class="listName" name="listName">
                                <label for="listName">{{ tache.taskName }}</label>
                            </ul>
                        {% endfor %}
                        <br>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}